.dataGrids{
    box-shadow: 2px 2px 2px 2px gray;
}
.dataGridd{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}
.sise{
    height: 200px;
    width: 200px;
}
@media only screen and (max-width:688px){
    .dataGridd{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 10px;
    }
}