.man{
    border-bottom: 2px solid goldenrod;
    margin-left: 10px;
    margin-right: 10px;
}
.theFlexy{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.photosiza{
    height: 250px;
}
@media only screen and (max-width:688px){
    .theFlexy{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}