.left{
    text-align: left;
    border-bottom: 2px solid gray;
}
.dataGrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
}
.picSize{
    height: 400px;
}
@media only screen and (max-width:688px){
    .dataGrid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 5px;
    }
}